{{ define "main" }}
<main class="list container py-6">
    {{- if or .Title .Content -}}
    <div class="row py-3">
        <div class="col">
            {{ with .Title }}<h3 class="display-4">{{ . }}</h3>{{ end }}

            {{- with .Content -}}
            <div class="content">
                {{ . }}
            </div>
            {{- end -}}
        </div>
    </div>
    {{- end -}}


    {{ $pages := .Data.Pages }}
    {{ $paginator := .Paginate $pages }}
    {{- range $paginator.Pages -}}
        {{ $page := . }}
        <div class="row row-cols-1 row-cols-lg-3"></div>
            <div style="display:inline-flex;width:100%;justify-content: space-between;">
                <span style="font-size: 1.5rem;"><strong>{{ $page.Date.Format "January 2, 2006" }}</strong></span>
                <span>
                    <strong>Author: {{ $page.Params.author }}</strong>
                    <div style="text-align:right;">
                        {{ $page.Params.emoji | emojify }}{{ $page.Params.emoji | emojify }}
                        {{ $page.Params.emoji | emojify }}{{ $page.Params.emoji | emojify }}
                    </div>
                </span>
            </div>
        </div>
        {{ .Content }}
    {{- end -}}

    <!-- pagination -->
    {{ partial "pagination.html" . }}

    {{ partial "comments.html" . }}
</main>
{{ end }}
