<div class="card h-100 shadow">
    {{ $page := . }}
    <a href="{{ $page.RelPermalink }}" class="d-block">
        {{- with $page.Params.images -}}
            {{- $images := . -}}
            {{- with $page.Site.GetPage "section" "images" -}}
                {{- with .Resources.GetMatch (strings.TrimPrefix "/images/" (index $images 0)) -}}
                    {{- $image := .Resize "700x350" -}}
                    {{ if $.Site.IsServer }}
                        <img data-src="{{ $image.RelPermalink }}" class="card-img-top mx-auto d-block" alt="{{ $page.Title }}">
                    {{ else }}
                        <img data-src="https://cdn.jsdelivr.net/gh/Ryuchen/ryuchen.github.io@master{{ $image.RelPermalink }}" class="card-img-top mx-auto d-block" alt="{{ $page.Title }}">
                    {{ end }}
                {{- end -}}
            {{- end -}}
        {{- end -}}
        <div class="card-body">
            <div class="card-title">
                {{ $page.Title }}
            </div>
            {{- with $page.Params.categories -}}
                <div class="card-serie">
                    {{- range $page.Params.categories -}}
                        <span class="badge badge-pill badge-primary">{{ . }}</span> &nbsp;
                    {{- end -}}
                </div>
            {{- end -}}
            <p class="card-text text-muted text-uppercase">{{ $page.Date.Format "January 2, 2006" }}</p>
            <div class="card-text">
                {{ $page.Summary | plainify }}
            </div>
        </div>
    </a>
</div>
