<!-- gitment -->
{{- if .Site.Params.gitment.enable -}}
    <div id="comments-gitment"></div>
    <link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
    <script src="https://billts.site/js/gitment.js"></script>
    <script>
    var gitment = new Gitment({
        id: '{{ .File.BaseFileName }}',
        owner: '{{ .Site.Params.gitment.owner }}',
        repo: '{{ .Site.Params.gitment.repo }}',
        oauth: {
            client_id: '{{ .Site.Params.gitment.clientId }}',
            client_secret: '{{ .Site.Params.gitment.clientSecret }}',
        }
    })
    gitment.render('comments-gitment')
    </script>
{{- end }}

<!-- gittalk -->
{{- if .Site.Params.gittalk.enable -}}
    <div id="comments-gittalk"></div>
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script> 
    <script>
    var gittalk = new Gitalk({
        id: '{{ .File.BaseFileName }}',
        owner: '{{ .Site.Params.gittalk.owner }}',
        repo: '{{ .Site.Params.gittalk.repo }}',
        admin: ['Ryuchen'],
        clientID: '{{ .Site.Params.gittalk.clientId }}',
        clientSecret: '{{ .Site.Params.gittalk.clientSecret }}',
    })
    gittalk.render('comments-gittalk')
    </script>
{{- end }}

<!--这个位置添加Valine相关代码-->
<!-- valine -->
{{- if .Site.Params.valine.enable -}}
    <!-- id 将作为查询条件 -->
    <span id="{{ .URL | relURL }}" class="leancloud_visitors" data-flag-title="{{ .Title }}">
        <span class="post-meta-item-text">文章阅读量 </span>
        <span class="leancloud-visitors-count"></span>
        <p></p>
    </span>
    <div id="vcomments"></div>
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    <script type="text/javascript">
        new Valine({
            el: '#vcomments' ,
            appId: '{{ .Site.Params.valine.appId }}',
            appKey: '{{ .Site.Params.valine.appKey }}',
            notify: {{ .Site.Params.valine.notify }}, 
            verify: {{ .Site.Params.valine.verify }}, 
            avatar:'{{ .Site.Params.valine.avatar }}', 
            placeholder: '{{ .Site.Params.valine.placeholder }}',
            visitor: {{ .Site.Params.valine.visitor }}
        });
    </script>
{{- end }}