<div class="card h-100 shadow">
    {{ $page := . }}
    <a href="{{ $page.RelPermalink }}" class="d-block">
        <div class="card-body">
            <h5 class="card-title">{{ $page.Title }}</h5>
            <div style="margin-bottom: 1rem;">
                <span class="badge badge-pill badge-primary">Stars: {{ $page.Params.stars }}</span>
                <span class="badge badge-pill badge-primary">Forks: {{ $page.Params.forks }}</span>
            </div>
            <div class="card-text">
                {{ $page.Summary | plainify }}
            </div>
        </div>
    </a>
</div>



