{{ define "main" }}
<main class="list container py-6">
    {{- if or .Title .Content -}}
    <div class="row py-3">
        <div class="col">
            {{ with .Title }}<h3 class="display-4">{{ . }}</h3>{{ end }}

            {{- with .Content -}}
            <div class="content">
                {{ . }}
            </div>
            {{- end -}}
        </div>
    </div>
    {{- end -}}

    {{ $pages := .Data.Pages.Reverse }}
    {{ $paginator := .Paginate $pages }}
    {{- range $paginator.Pages -}}
        {{ $page := . }}
        <div class="row row-cols-1 row-cols-lg-3"></div>
            <div>
                <article>
                    <div class="row justify-content-center snippet-code">
                        <div class="snippet-code-list">
                            {{ .Content }}
                        </div>
                    </div>
                </article>
            </div>
        </div>
    {{- end -}}

    <!-- pagination -->
    {{ partial "pagination.html" . }}

    {{ partial "comments.html" . }}
</main>
{{ end }}
