{{/*  <div class="card h-100 shadow">
    {{ $page := . }}
    <a href="{{ $page.RelPermalink }}" class="d-block">
        <div id="repo_info_{{ $page.Params.repo }}" class="card-body">
            <h5 id="repo_title" class="card-title">{{ $page.Params.title }}</h5>
            <div style="margin-bottom: 1rem;">
                <span id="repo_stars" class="badge badge-primary">Stars: </span>
                <span id="repo_forks" class="badge badge-primary">Forks: </span>
                <span id="repo_language" class="badge badge-info"></span>
            </div>
            <div id="repo_description" class="card-text">
                {{ $page.Summary | plainify }}
            </div>
        </div>
    </a>
    <script type="module">
        import $ from "https://cdn.skypack.dev/jquery";
        import { Octokit } from "https://cdn.skypack.dev/@octokit/core";

        const octokit = new Octokit();

        async function repoInfos() {
            // "https://api.github.com/repos/Ryuchen/adminMongo"
            const response = await octokit.request('GET /repos/{username}/{repo}', {
                repo: '{{ $page.Params.repo }}',
                username: '{{ $page.Params.user }}'
            });
            const { data: { description, forks_count, stargazers_count, language} } = response;
            $('#repo_info_{{ $page.Params.repo }} #repo_stars').append(stargazers_count);
            $('#repo_info_{{ $page.Params.repo }} #repo_forks').append(forks_count);
            $('#repo_info_{{ $page.Params.repo }} #repo_language').append(language);
            $('#repo_info_{{ $page.Params.repo }} #repo_description').text(description);
        }
        repoInfos();
    </script>
</div>  */}}



<div class="card">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>