{{ define "main" }}
<main class="content-page container pt-7 pb-5">
    {{ $page := . }}
    <div class="row">
        <div class="col">
            <article>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <h1>{{ $page.Title }}</h1>
                        <div class="meta text-muted mb-3" style="text-align: right;">
                            {{ $readTime := mul (div (countwords .Content) 220.0) 60 }}
                            <p class="created text-muted text-uppercase font-weight-bold mb-1">{{ $page.Date.Format "January 2, 2006" }}</p>
                            <span class="mr-2"><i class="fas fa-book-open mr-2"></i>{{ countwords .Content }}</span>
                            <span><i class="fas fa-clock mr-2"></i>{{ math.Floor (div $readTime 60) }} minutes and
                                {{ mod $readTime 60 }} seconds</span>
                        </div>
                        {{ partial "authors.html" $page }}
                        {{- with $page.Params.categories -}}
                            <div class="category my-3">
                            {{- range . -}}
                                <a class="badge badge-pill badge-light border mr-2" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">
                                    <i class="fas fa-tag mr-2"></i>{{ . }}
                                </a>
                            {{- end -}}
                            </div>
                        {{- end -}}
                    </div>
                </div>

                {{- with $page.Params.images -}}
                    {{- $images := . -}}
                    {{- with $page.Site.GetPage "section" "images" -}}
                        {{- with .Resources.GetMatch (strings.TrimPrefix "/images/" (index $images 0)) -}}
                            {{- $image := .Fit "900x500" -}}
                            <div class="row justify-content-center mb-3">
                                <div class="col-lg-10">
                                    {{ if $.Site.IsServer }}
                                        <img data-src="{{ $image.RelPermalink }}" class="img-fluid rounded mx-auto d-block" alt="{{ $page.Title }}">
                                    {{ else }}
                                        <img data-src="https://cdn.jsdelivr.net/gh/Ryuchen/ryuchen.github.io@master/{{ $image.RelPermalink }}" class="img-fluid rounded mx-auto d-block" alt="{{ $page.Title }}">
                                    {{ end }}
                                </div>
                            </div>
                        {{- end -}}
                    {{- end -}}
                {{- end -}}

                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="content">
                            {{ $page.Content }}
                        </div>

                        {{- with $page.Params.tags -}}
                            <div class="tags my-3">
                            {{- range . -}}
                                <a class="badge badge-pill badge-light border mr-2" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
                                    <i class="fas fa-tag mr-2"></i>{{ . }}
                                </a>
                            {{- end -}}
                            </div>
                        {{- end -}}

                        <div style="text-align: center;">
                            <div class="social-share" data-sites="wechat,weibo,twitter,facebook,douban" data-mobile-sites="wechat,weibo"></div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        {{ partial "comments.html" . }}
                    </div>
                </div>
            </article>
        </div>
    </div>

    {{ partial "related.html" $page }}
</main>
{{ end }}
