<footer class="footer bg-dark py-6">
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <ul class="list-inline">
                    {{ if .Site.Params.social.rss -}}
                    <li class="list-inline-item">
                        {{- with .Site.GetPage "" -}}
                            {{- with .OutputFormats.Get "RSS" -}}
                                <a href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" class="icons d-block">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            {{- end -}}
                        {{- end -}}
                    </li>
                    {{- end -}}
                    {{- if .Site.Params.social.email -}}
                    <li class="list-inline-item">
                        <a href="mailto:{{ .Site.Params.social.email }}" class="icons d-block">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {{- end -}}
                    {{- range $name, $path := .Site.Params.social -}}
                        {{- if and $path (not (in (slice "rss" "email") $name)) -}}
                        <li class="list-inline-item">
                            <a href="{{ $path | safeURL }}" class="icons d-block">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-{{ $name }} fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{- end -}}
                    {{- end }}
                </ul>

                <p class="text-muted">
                    {{ if .Site.Copyright }}
                        {{ .Site.Copyright | safeHTML }}
                    {{ else }}
                        Copyright &copy; {{ .Site.Title }} {{ now.Year }}
                    {{ end }}
                </p>

                <p class="text-muted">
                    京ICP备2020040667号
                </p>

                <p class="text-muted">
                    本站总记被访问 <span id="busuanzi_value_site_pv"></span> 次， 
                    您是第 <span id="busuanzi_value_site_uv"></span> 个来访小伙伴。
                </p>
            </div>
            <div class="col-sm text-center">
                {{- if .Site.Params.donate.slogon -}}
                    <p class="text-muted">{{ .Site.Params.donate.slogon }}</p>
                {{- end -}}
                <ul class="list-inline">
                    <div class="row">
                        <div class="col-sm text-center">
                            {{- if .Site.Params.donate.wechat -}}
                            <li class="list-inline-item">
                                <img src="{{ .Site.Params.donate.wechat }}" alt="WechatPay" class="loaded" data-was-processed="true" style="width: 140px;padding: 4px">
                            </li>
                            {{- end -}}
                        </div>
                        <div class="col-sm text-center">
                            {{- if .Site.Params.donate.alipay -}}
                            <li class="list-inline-item">
                                <img src="{{ .Site.Params.donate.alipay }}" alt="AliPay" class="loaded" data-was-processed="true" style="width: 140px;padding: 4px">
                            </li>
                            {{- end -}}
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    {{ if .Site.Params.music.enable -}}
        <div class="netease-music">
            <audio id="music-player" crossorigin playsinline>
            </audio>
        </div>
    {{ end }}
</footer>
