{{ with index .Site.Data "ryu" }}
    {{ range $vendor := .assets }}
        {{ if $vendor.js }}
            {{ if $.Site.IsServer }}
                <script src='{{ print "dist/" $vendor.js | relURL }}'></script>
            {{ else }}
                <script src='https://cdn.jsdelivr.net/gh/Ryuchen/ryuchen.github.io@master/{{ print "dist/" $vendor.js | relURL }}'></script>
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

<!-- mermaid support -->
<script src='https://cdn.jsdelivr.net/gh/Ryuchen/ryuchen.github.io@master/{{ print "mermaid/mermaid.js" | relURL }}'></script>
<!-- mermaid support -->

{{ if .Site.Params.prismJS.enable }}
    <script>
        window.Prism = window.Prism || {};
    </script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.22.0/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.22.0/plugins/autoloader/prism-autoloader.min.js"></script>
{{ end }}


{{ if .Params.math }}
    {{ partial "mathjax.html" . }}
{{ end }}

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

{{ range .Site.Params.customJS -}}
    <script src='https://cdn.jsdelivr.net/gh/Ryuchen/ryuchen.github.io@master/{{ "js/" | relURL }}{{ . }}'></script>
{{ end }}

{{ if .Site.Params.baidu }}
    <script>
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https'){
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else{
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
{{ end }}

<script>
    (function(){
    var el = document.createElement("script");
    el.src = "https://s3a.pstatp.com/toutiao/push.js?1b349c44e658214c68be3a649c8dd67d03df3ccff5cf4d26c95620535e04d891417631efa03c64873bef9496a5c9bb7c62f7c4af6b1a55b161baff8a0b4e2fba";
    el.id = "ttzz";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(el, s);
    })(window)
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/css/share.min.css"  crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/social-share.min.js" integrity="sha256-fGPu+icKh985TLPhO2v68U7i0CW0dE4kiR06RN4O6jo=" crossorigin="anonymous"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0EFH27TG1R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-0EFH27TG1R');
</script>