<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>
  {{ block "title" . }}
    {{ with .Params.Title }} {{ . }} | {{ end }}
    {{ .Site.Title }}
  {{ end }}
</title>

{{- if .Description -}}
  <meta name="description" content="{{ .Description }}">
{{- else if .Site.Params.description -}}
  <meta name="description" content="{{ .Site.Params.description }}">
{{- end -}}

<meta name="baidu-site-verification" content="1EPvUZiFZJ" />

<meta name="author" content='{{ if .Params.authors }}{{ delimit .Params.authors ", " }}{{ else }}{{ .Site.Params.author }}{{ end }}'>

<link rel="icon" href='{{ "favicon.ico" | relURL }}'>

{{ if .Site.Params.prismJS.enable }}
    {{ if .Site.Params.prismJS.theme }}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.22.0/themes/prism-{{ .Site.Params.prismJS.theme }}.min.css">
    {{ else }}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.22.0/themes/prism.min.css" />
    {{ end }}
{{ end }}

{{ if .Site.Params.music.enable }}
  <link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
  <script src="https://cdn.plyr.io/3.6.2/plyr.polyfilled.js"></script>
{{ end }}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/css/fontawesome.min.css">

{{ if .Site.IsServer }}
  {{ with index .Site.Data "chunky-poster" }}
    {{ range $vendor := .assets }}
        {{ if $vendor.css }}
            <link rel="stylesheet" href='{{ print "dist/" $vendor.css | relURL }}'>
        {{ end }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ with index .Site.Data "chunky-poster" }}
    {{ range $vendor := .assets }}
        {{ if $vendor.css }}
            <link rel="stylesheet" href='{{ print "https://cdn.jsdelivr.net/gh/Ryuchen/ryuchen.github.io@master/dist/" $vendor.css | relURL }}'>
        {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

<style type="text/css">
  p:empty {
    display:none!important;
  }
  .fa-stack-2x {
    font-size: 1em;
  }
</style>
{{ if .Site.IsServer }}
  {{ range .Site.Params.customCSS -}}
    <link rel="stylesheet" href='{{ "css/" | relURL }}{{ . }}'>
  {{ end }}
{{ else }}
  {{ range .Site.Params.customCSS -}}
      <link rel="stylesheet" href='{{ "https://cdn.jsdelivr.net/gh/Ryuchen/ryuchen.github.io@master/css/" | relURL }}{{ . }}'>
  {{ end }}
{{ end }}

<link rel="canonical" href="{{ .Permalink }}">

{{- with .OutputFormats.Get "RSS" }}
  <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}">
  <link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}">
{{- end -}}

{{- template "_internal/opengraph.html" . -}}
{{- template "_internal/schema.html" . -}}