{{ define "main" }}
<main class="list container py-6">
    {{- if or .Title .Content -}}
        <div class="row py-3">
            <div class="col">
                {{ with .Title }}<h3 class="display-4">{{ . }}</h3>{{ end }}

                {{- with .Content -}}
                <div class="content">
                    {{ . }}
                </div>
                {{- end -}}
            </div>
        </div>
    {{- end -}}
    <div id="repos" >
    </div>
</main>

<script type="module">
    import $ from "https://cdn.skypack.dev/jquery";
    import { Octokit } from "https://cdn.skypack.dev/@octokit/core";

    const octokit = new Octokit();
    async function repoInfos() {
        // "https://api.github.com/repos/Ryuchen/adminMongo"
        const response = await octokit.request('GET /users/Ryuchen/repos');
        const { data } = response;
        data.sort(function(a, b){ return b.stargazers_count - a.stargazers_count });
        data.forEach((element) => {
            if (!element.fork) {
                let url = 'https://api.github.com/repos/' + `${element.full_name}` + '/contents/README.md';
                let lic_name = 'None';
                if (element.license !== null) {
                    lic_name = element.license.name;
                }
                let template = `
                <div class="row" style="margin: 8px;">
                    <div class="col-12">
                        <div class="card shadow">
                            <div class="card-body">
                                <h5 class="card-title">
                                    ${element.full_name}
                                    <span class="badge badge-light" style="float:right;font-size:1rem;">
                                        <a id="${element.name}-trigger" data-toggle="collapse" aria-expanded="false" aria-controls="${element.name}">
                                           README
                                        </a>
                                    </span>
                                </h5>
                                <p class="card-text">${element.description}</p>
                                <div class="collapse" id="${element.name}">
                                    <div id="${element.name}-README" class="card card-body"></div>
                                </div>
                                <div class="card-text" style="margin-top:20px;">
                                    <span class="badge badge-primary">Stars: ${element.stargazers_count}</span>
                                    <span class="badge badge-primary">Forks: ${element.forks_count}</span>
                                    <span class="badge badge-primary">License: ${lic_name}</span>
                                    <span class="badge badge-info">${element.language}</span>
                                </div>
                                <a href="${element.html_url}" target="_blank" class="card-link" style="float:right;">View on Github</a>
                            </div>
                        </div>
                    </div>
                </div>
                `
                $('#repos').append(template);
                $(`#${element.name}-trigger`).bind('click', () => {
                    if ($(`#${element.name}`).attr('class') !== 'collapse show') {
                        if ($(`#${element.name}-README`).html() === '') {
                            $.get(url, function(data) { window.renderProject(`#${element.name}-README`, window.atob(data.content)); });
                        }
                        $(`#${element.name}`).attr('class', 'collapse show');
                    } else {
                        $(`#${element.name}`).attr('class', 'collapse');
                    }
                });
            }
        });
    }
    repoInfos();
</script>

{{ end }}
